.navbardesign {
    padding-left: 650px;
}

.logoz {
     padding-top: 65px;
}

.navstyle {
   
   font-size: 20px; 
   font-style: italic;  
   margin-right: 70px;
}

.welc {
    text-align: center;
    padding-top: 90px;
    font-size: 50px;
}

*{
    margin: 0;
    padding: 0;
}
.name {
    text-align: center;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter::after {
    text-align: left;
    padding-left: 250px;
    padding-right: 200px;
     content: '|';
     position: absolute;
     right: 0;
     color: black;
     background-color: white;
    width: 80%;
    animation: typing 2s steps(20) alternate infinite,
                      line 2s infinite;
}


@keyframes typing{
    to{
        width: 0%;
    }
}


@keyframes line{
    80%{
        color: transparent;
    }
}


.pro {
    font-size: 50px;
    font-style: italic;
}

.me {
    border: 10px solid #555;
    border-radius: 10px;
    
    
     
}


.prog {
   font-size: 24px;
}


.pirolft {
    color: #ffff;
    font-size: 1.25vw;
    font-family: "Nunito Sans";
    padding-left: 6vw;
  }
  .footp {
    background-color: #141414;
    color: #a19f9f;
    font-family: "Nunito Sans";
    font-size: 0.8vw;
    
  }
  .foot{
    padding-top:5vw;
    background-color: #141414;
    color: #a19f9f;
    text-align: left;
    
    padding-bottom: 5vw;
  }

.marg {
    margin-top: 200px;
}
.marg2 {
    margin-top: 200px;
}

.marg3 {
    margin-top: 100px;
}

.typewriter2::after {
    text-align: left;
    padding-left: 250px;
    padding-right: 200px;
     content: '|';
     position: absolute;
     right: 0;
     color: black;
     background-color: #0080ff;
    width: 80%;
    animation: typing 2.5s steps(20) alternate infinite,
                      line 2s infinite;
}


@keyframes typing{
    to{
        width: 30%;
    }
}


@keyframes line{
    80%{
        color: transparent;
    }
}

.T {
    border: 10px solid #555;
}

.aboutus1 {
    text-align: center;
    font-size: 25px
}