.navbardesign {
    padding-left: 650px;
}

.logoz {
     padding-top: 65px;
}

.navstyle {
   
   font-size: 20px; 
   font-style: italic;  
   margin-right: 70px;
}

.welc {
    text-align: center;
    padding-top: 90px;
    font-size: 50px;
}

*{
    margin: 0;
    padding: 0;
}
.name {
    text-align: center;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter::after {
    text-align: left;
    padding-left: 200px;
    padding-right: 180px;
     content: '|';
     position: absolute;
     right: 0;
     color: black;
     background-color: white;
    width: 80%;
    animation: typing 2s steps(20) alternate infinite,
                      line 1s infinite;
}


@keyframes typing{
    to{
        width: 0%;
    }
}


@keyframes line{
    50%{
        color: transparent;
    }
}